{% extends "list_base.html" %}
{% block table_header %}
    <th>Order number</th>
    <th>Order type</th>
    <th>Measurement items</th>
{% endblock %}

{% block table_line %}
    <tr class="clickable-row" data-href="{% url 'list_measurement_order' %}{{ object.pk }}/">
        <td>{{ object.order_nr }}</td>
        <td>{{ object.order_type }}</td>
        <td>
            {% for mi in object.measurement_items.all %}
                {{ mi }}
                {% if not forloop.last %}
                    ;
                {% endif %}
            {% endfor %}
        </td>
    </tr>
{% endblock %}