{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="post">
        {% csrf_token %}

        {{ form|crispy }}

        {% if change_class in perms and object.pk %}
            <button class="btn btn-default" type="submit"> Update</button>
        {% elif add_class in perms and not object.pk %}
            <button class="btn btn-default" type="submit"> Submit</button>
        {% endif %}
        {% if delete_class in perms and object.pk and current_path %}
            <a class="btn btn-default" role="button" href="{{ current_path }}delete/">Delete</a>
        {% endif %}

        <button class="btn btn-default" onclick="history.back();">Back</button>

    </form>

{% endblock %}

