{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block adminscripts %}
    <script type="text/javascript">window.__admin_media_prefix__ = "{% static "admin/" %}";</script>
    <script type="text/javascript">window.__admin_utc_offset__ = "0";</script>


    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/related-widget-wrapper.js" %}"></script>

{% endblock %}

{% block inlinescripts %}
    <script type="text/javascript">
        function add_item() {
            var new_item = "\<li class=\"list-group-item meas-item-group\"\>{{ forms.item|crispy|escapejs }}\</li\>";

            $(".item-list").append(new_item);
            var l = $(".meas-item-group").removeAttr('backgroundColor');
            l.filter(':odd').css({'backgroundColor': '#eeeeee'});

        }

        function get_meas_items() {
            var sn = $('#id_sn').val();
            $.ajax({
                url: '{% url "get_meas_item" %}',
                success: function (data, textStatus, XMLHttpRequest) {
                    alert(data.name);
                },
                type: 'POST',
                data: {sn: sn},
                datatype: 'JSON',
            });
        }


        $(document).ready(function () {
            init_ajax_csrf();

            {% if forms.sns|length > 1 %}
                {%  autoescape off %}
                    var sns = {{ forms.sns }};
                    var names = {{ forms.names }};
                {% endautoescape %}
                for (i = 0; i < {{ forms.sns|length }}-1; i++) {
                    add_item();
                }
                for (i = {{ forms.sns|length }}-1; i >= 0; i--) {
                    $('.meas-item-group #id_sn')[i].value = sns[i];
                    $('.meas-item-group #id_name')[i].value = names[i];
                    if (sns[i] != '') {
                        $('.meas-item-group p').eq(i).remove();
                        $('.form-group#div_id_sn').eq(i).removeClass('has-error');
                    }
                    if (i > 0) {
                        $('.alert').last().remove();
                    }
                }
            {% endif %}
        })
    </script>
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}

        {{ forms.order|crispy }}

        <ul class="list-group item-list">
            <li class="add_meas_btn_line"><span style="float: right">
                <button type="button" class="btn btn-default add_meas_item_btn" aria-label="Add measurement item"
                        onclick="add_item()">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    Add measurement item
                </button>
            </span>
            </li>
            <li class="list-group-item meas-item-group">{{ forms.item|crispy }}</li>
        </ul>
        <button class="btn btn-default" name='action' type="submit"> Submit</button>
    </form>


{% endblock %}

