{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="post">
        {% csrf_token %}

        {{ form|crispy }}

        {% if  add_permissions   in user.get_all_permissions or change_permission in user.get_all_permissions %}
            {% if object.pk %}
                <button class="btn btn-default" type="submit"> Update</button>
            {% else %}
                <button class="btn btn-default" type="submit"> Submit</button>
            {% endif %}
        {% endif %}
        {% if delete_permission in user.get_all_permissions and object.pk and current_path %}
            <a class="btn btn-default" role="button" href="{{ current_path }}delete/">Delete</a>
        {% endif %}

        <button class="btn btn-default" onclick="history.back();">Back</button>

    </form>

{% endblock %}

