{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block adminscripts %}
    {% include "admin_include.html" %}
    <script type="text/javascript" src="{% static "js/vendor/jquery.autocomplete.js" %}"></script>
{% endblock %}

{% block inlinescripts %}
    <script type="text/javascript">
        var last_search=null;
        function setItemName(sn_element, name){
            var name_element = sn_element.parent().parent().siblings().find('#id_name');
            name_element.val(name);
        }
        function snOnBlur(){
            var value = $(this).val();
            if (!last_search) return;
            var name = "";
            for( var sug in last_search)
            {
                if (value == last_search[sug].value)
                {
                    name = last_search[sug].data;
                }

            }
            setItemName($(this), name);
        }

        function init_autocomplete() {
            $('.sn_autocomplete').autocomplete({
                        paramName: 'sn',
                        serviceUrl: '{% url "get_meas_item" %}',
                        type: 'POST',
                        dataType: 'JSON',
                        triggerSelectOnValidInput: false,
                        onSelect: function (suggestion) {
                            setItemName($(this), suggestion.data);
                        },
                        onSearchComplete: function(query, suggestions) {
                            last_search = suggestions;
                        }
                    }
            );
        }
        function add_item() {
            var new_item = "\<li class=\"list-group-item meas-item-group\"\>{{ forms.item|crispy|escapejs }}\</li\>";

            $(".item-list").append(new_item);
            var l = $(".meas-item-group").removeAttr('backgroundColor');
            l.filter(':odd').css({'backgroundColor': '#eeeeee'});
            init_autocomplete();
        }

        $(document).ready(function () {
            init_ajax_csrf();

            {% if forms.sns|length > 1 %}
                {%  autoescape off %}
                    var sns = {{ forms.sns }};
                    var names = {{ forms.names }};
                    var products = {{ forms.products }};
                {% endautoescape %}
                for (i = 0; i < {{ forms.sns|length }}-1; i++) {
                    add_item();
                }
                for (i = {{ forms.sns|length }}-1; i >= 0; i--) {
                    $('.meas-item-group #id_sn')[i].value = sns[i];
                    $('.meas-item-group #id_name')[i].value = names[i];
                    $('.meas-item-group #id_product')[i].value = products[i];
                    if (sns[i] != '') {
                        $('[id*="error_1_id_sn"]').eq(i).remove();
                        $('.form-group#div_id_sn').eq(i).removeClass('has-error');
                    }
                    if (products[i] != '') {
                        $('[id*="error_1_id_product"]').eq(i).remove();
                        $('.form-group#div_id_product').eq(i).removeClass('has-error');

                    }
                    if (i > 0) {
                        $('.alert').last().remove();
                    }
                }

            {% endif %}


            init_autocomplete();
            $('#id_sn').blur(snOnBlur);


        });
    </script>
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}

        {{ forms.order|crispy }}

        <ul class="list-group item-list">
            <li class="add_meas_btn_line"><span style="float: right">
                <button type="button" class="btn btn-default add_meas_item_btn" aria-label="Add measurement item"
                        onclick="add_item()">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    Add measurement item
                </button>
            </span>
            </li>
            <li class="list-group-item meas-item-group">{{ forms.item|crispy }}</li>
        </ul>
        <button class="btn btn-default" name='action' type="submit"> Submit</button>
    </form>


{% endblock %}

