{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="post">
        {% csrf_token %}

        {{ form|crispy }}

        <button class="btn btn-default" type="submit"> Submit</button>
    </form>

{% endblock %}

{% block inlinescripts %}

    <script src="{% static "js/vendor/ace.js" type="text/javascript" %}" charset="utf-8"></script>
    <script src="{% static "js/vendor//ext-language_tools.js" type="text/javascript" %}" charset="utf-8"></script>

    <script>
        ace.require("ace/ext/language_tools");
        var editor = ace.edit("id_rule_code");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/python");
        editor.setAutoScrollEditorIntoView(true);
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true,
            maxLines: 30,
            minLines: 30
        });

    </script>

{% endblock %}