{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block adminscripts %}
    <script type="text/javascript">window.__admin_media_prefix__ = "{% static "admin/" %}";</script>
    <script type="text/javascript">window.__admin_utc_offset__ = "0";</script>


    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/related-widget-wrapper.js" %}"></script>

{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}

        {{ form|crispy }}

        <button class="btn btn-default" type="submit"> Submit</button>
    </form>

{% endblock %}

{% block inlinescripts %}
    <script type="text/javascript">

        function get_order_items() {
            var order_pk = $('#id_order').val();
            $.ajax({
                url: '{% url "get_order_info" %}',
                success: function (data, textStatus, XMLHttpRequest) {
                    $("#id_order_items").children().remove();
                    for (var item in data.order_items) {
                        $("#id_order_items").append("<option value='" + data.order_items[item][0] + "'>" + data.order_items[item][1] + "</option>");
                    }

                    $("#id_measurement_devices").children().remove();
                    for (var device in data.meas_devices) {
                        $("#id_measurement_devices").append("<option value='" + data.meas_devices[device][0] + "'>" + data.meas_devices[device][1] + "</option>");
                    }
                    $("#id_meas_item").children().remove();
                    for (var meas_item in data.meas_items) {
                        $("#id_meas_item").append("<option value='" + data.meas_items[meas_item][0] + "'>" + data.meas_items[meas_item][1] + "</option>");
                    }

                },
                type: 'POST',
                data: {order: order_pk},
                datatype: 'JSON',
            });
        }
        $(document).ready(function () {
            $("#id_order_items").children().remove();
            $("#id_meas_item").children().remove();
            $("#id_measurement_devices").children().remove();

            $("#id_order_items").append("<option value='-1'> Please select first the order</option>");
            $("#id_meas_item").append("<option value='-1'> Please select first the order</option>");
            $("#id_measurement_devices").append("<option value='-1'> Please select first the order</option>");
            init_ajax_csrf();
        });
    </script>
{% endblock %}
