{% load static %}

<script type="text/javascript"
        xmlns="http://www.w3.org/1999/html">window.__admin_media_prefix__ = "{% static "admin/" %}";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>


<link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}">
<link rel="stylesheet" href="{% static "admin/css/widgets.css   " %}">
<link rel="stylesheet" href="{% static "admin/css/ie.css   " %}">
<script type="text/javascript" src="{% static "admin/jsi18n/index.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/related-widget-wrapper.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/jquery-ui.min.js" %}"></script>
