{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="page-header">Welcome {{ user }}</h1>
    <h2>Last changed products</h2>
    <table class="table table-striped list_table">

        <th>Product name</th>
        <th></th>
        {% for product in view.last_changed_products %}
            <tr class="clickable-row" data-href="{% url 'list_product' %}{{ object.pk }}/">
                <td>{{ product.product_name }}</td>
                <td><a href="/plot/{{ product.product_name|urlize }}/" class="btn btn-default">Show product site</a>
                </td>
            </tr>

        {% endfor %}
    </table>
{% endblock %}